* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*----------------------------------------------------------------*/


/* CSS Effects */
/*----------------------------------------------------------------*/
/* Grow */
.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*----------------------------------------------------------------*/


/* Navigation */
/*----------------------------------------------------------------*/

nav {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    justify-content: flex-end;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

#nav-list {
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: auto 0;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding-bottom: 0.1rem;
}

.underlined {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding-bottom: 0.1rem;
    border-bottom: 3px solid #5A92FF;
}

.link::after {
    display: block;
    content: '';
    border-bottom: solid 3px #5A92FF;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.link:hover:after { transform: scaleX(1); }
.link.fromRight:after{ transform-origin:100% 50%; }
.link.fromLeft:after{  transform-origin:  0% 50%; }

#hamburger-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    align-self: center;
}

/*----------------------------------------------------------------*/

/* Landing Page */
/*----------------------------------------------------------------*/

main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Black Box */
/*----------------------------------*/
#black-box {
    background-color: #000;
    width: 65%;
    height: 100%;
    color: #fff;
    font-size: 2rem;
}

#intro-text {
    margin-top: 8%;
    margin-left: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro-text h2 {
    font-weight: 300;
    line-height: 0.9;
}

#dict-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0.5rem;
}

#dict-text > p {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0.1rem 0;
    color: rgba(160, 160, 160, 0.8);
}

#desc {
    margin-left: 10%;
    margin-top: 5rem;
}

#desc h3 {
    font-weight: 200;
}

/*----------------------------------*/

#call-to-action {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#art {
    width: 60%;
    height: 15rem;
    min-width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: url("images/circle.png");
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: center center; 
}


#art img {
    max-height: 12rem;
    max-width: 9rem;
    width: auto;
    height: auto;
    align-self: flex-end;
}

.btn {
    display: block;
    padding: 0.5rem 2rem;
    background-color: #5A92FF;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
}

#cta-btns {
    width: auto;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 10rem;
    text-align: center;
}

#cta-btns > a {
    text-decoration: none;
}

#work-btn {
    background-color: #000;
}

/*----------------------------------------------------------------*/

/* Projects Section */
/*----------------------------------------------------------------*/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150vh;
    background-color: #e6e6e6;
    padding: 2rem;
}

#projects h2 {
    font-size: 3rem;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 90%;
    height: 30rem;
    background-color: gainsboro;
    margin-top: 2rem;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color:#f6f6f6;
}



.chip-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chip {
    list-style-type: none;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #6C5E5C;
    min-width: min-content;
    padding: 0.5rem 0.7rem;
    background-color: #E4E4E4;
    border-radius: 10px;
    margin: 2rem 0.5rem;
}

.project-img {
    width: 90%;
    height: 100%;
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%), 0 5px 30px rgb(0 0 0 / 20%);
    transform: translateY(10%);
    object-fit: cover;
    object-position: 0% 50%;
}

.project-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    height: 95%;
    text-align: center;
    margin: 2rem;
    max-height: 100%;
}

.project-desc > * {
    font-family: 'Red Hat Display', sans-serif;
}

.project-desc h2 {
    font-size: 3rem;
    font-weight: 500;
    color: #191a1d;
}

.project-desc p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #919191;
}

.view-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 20%;
    height: 1.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background-color: #4b6cc1;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
}

.link-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-code-btn {
    font-weight: 500;
}

.live-demo-btn {
    font-weight: 500;
}

.icon {
    width: 25px;
    height: auto;
}

/*----------------------------------------------------------------*/


/* About Me Section */
/*----------------------------------------------------------------*/

#about-me-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    background-color: #d3d3d3;
    padding: 1rem;
}

#about-img {
    width: 15rem;
    height: auto;
}

#about-me-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#about-me-desc h2 {
    font-size: 3rem;
}

#about-me-desc p {
    margin-top: 1rem;
    font-size: 2rem;
    color: #919191;
}

#about-me-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------------------*/


/* Contact Section */
/*----------------------------------------------------------------*/

#contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    height: 60vh;
}

#contact-wrapper h2 {
    font-size: 2.5rem;
}

#contact-wrapper p {
    font-size: 1.2rem;
    color: #919191;
    margin-top: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}

#basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input {
    width: 80%;
    height: 10%;
    border: 1px lightgray solid;
    padding: 1rem;
    font-size: 1.2rem;
}

#contact-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#msg {
    height: calc(35% + 2rem);
    width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px rgb(118,118,118) solid;
}

.submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0.5 0.8rem;
    background-color: #4b6cc1;
    margin-top: 5%;
    height: calc(10% + 2rem);
    width: calc(80% + 2rem);
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*----------------------------------------------------------------*/

.divider {
    height: 80px;
    width: 100%;
    background-color: #fff;
}

#slide-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 70vh;
    width: 100%;
    background-color: #d3d3d3;

}

#slide-wrapper h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.slides {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27%;
    min-width: 20rem;
    max-width: 25rem;
    height: 90%;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 1rem;
}

.slide h4 {
    font-size: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
    color: #333333;
    padding: 1rem;
}

.slide p {
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    color: #666666;
}

#left-arrow, #right-arrow {
    line-height: 1;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    border-radius: 90%;
    color: #6C5E5C;
    background-color: #E4E4E4;
    min-width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.arrow:hover {
    background-color: #a8a7a7;
}




/* Smartphones (portrait) ---------------- */
@media only screen 
and (max-width : 320px)
{

}

/* Smartphones (landscape) ---------------- */
@media only screen 
and (min-width : 321px)
and (max-width : 767px)
{

}

/* Tablets (portrait) -------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
    main {
        height: 65vh;
    }
    nav {
        justify-content: center;
    }

    .link {
        font-size: 1.6rem;
    }

    .view-btn {
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
    }

    #nav-list {
        width: 70%;
    }

    .btn {
        padding: 0.8rem 3rem;
        margin: 0.3rem;
    }

    #slide-wrapper {
        height: 50vh;
    }

    .slides {
        width: 90%;
    }

    .slide {
        min-width: 11rem;
        margin: 0.3rem;
    }

    #projects {
        justify-content: flex-start;
        padding-top: 1rem;
        min-height: 130vh;
    }

    #projects h2 {
        font-size: 2.5rem;
    }

    .project-desc p {
        font-size: 1.1rem;
    }

    .project-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        min-width: 700px;
        min-height: 400px;
    }

    .chip {
        font-size: 0.7rem;
        margin: 2rem 0.2rem;
    }

    .chip-list {
        margin-top: 0;
    }

    .contact-form {
        width: 90%;
    }
}


/* Tablets (landscape) ------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{   

}

/* Old Desktops and laptops ------------------ */
@media only screen 
and (min-width : 1025px) 
and (max-width : 1200px) 
{
    nav {
        justify-content: center;
    }

    #nav-list {
        width: 70%;
    }

    .slides {
        width: 90%;
    }

    .slide {
        min-width: 16rem;
        margin: 0.5rem;
    }

    #projects {
        justify-content: flex-start;
        padding-top: 1rem;
    }

    #projects h2 {
        font-size: 2.5rem;
    }

    .project-desc p {
        font-size: 1.1rem;
    }

    .project-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        min-width: 900px;
        min-height: 400px;
    }

    .chip {
        font-size: 0.7rem;
        margin: 2rem 0.3rem;
    }
}

/* Desktops ------------------ */
@media only screen 
and (min-width : 1201px) 
{
    .slides {
        width: 90%;
    }

    #projects {
        justify-content: flex-start;
        padding-top: 1rem;
    }

    .project-desc h2 {
        font-size: 2.8rem;
    }

    .project-desc p {
        font-size: 1.1rem;
    }

    .project-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        min-width: 1100px;
        min-height: 400px;
    }
}

@media only screen 
and (min-width : 1366px) 
{
    .slides {
        width: 90%;
    }

    #projects {
        justify-content: flex-start;
        padding-top: 1rem;
    }

    .project-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        min-width: 1200px;
        min-height: 500px;
    }
}

@media only screen 
and (min-width : 1536px) 
{


}

@media only screen 
and (min-width : 1920px) 
{
    
}
